#hand {
    background-color: gainsboro;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black; /* consider getting rid of the border later */
    margin: 0;
    height: auto;
    width: auto; 
}