body {
  background: 
    linear-gradient(to right, #000 1px, transparent 1px) 0 0, /* Vertical lines */
    linear-gradient(to bottom, #000 1px, transparent 1px) 0 0; /* Horizontal lines */
  background-size: 100px 100px; /* Size of each square */
  background-repeat: repeat; /* Repeats forever */
  margin: 0;
  height: 100vh; /* Ensure the background covers the full viewport height */

.card {
  border: 1 px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .cardImage {
  max-width: 100%;
  height: auto;
  border-radius: 50%
}

.card .cardTitle {
  font-family: 'Courier New', Courier, monospace;
}